# Puerto en el que correrá el servidor
PORT=8080

# URI de conexión a la base de datos de MongoDB
MONGO_URI=mongodb://localhost:27017/ecommerce

# Clave secreta para firmar los JSON Web Tokens (JWT)
# Puedes generar una clave segura aquí: https://www.lastpass.com/features/password-generator
JWT_SECRET=UNA_CLAVE_SECRETA_MUY_SEGURA
